.AppAsideBar {
    flex: 0 0 20%;
    background: var(--black);
    position: relative;
    height: 100%;
}

.logo,
.dLink {
    display: block;
    padding: 10px;
    color: var(--white);
}

.logo,
.logo .MuiSvgIcon-root {
    font-size: var(--font25);
}

.dLink {
    background: var(--black1);
    border-radius: var(--rounded2);
    margin: 25px 0;
}

.navflex {
    height: 75%;
}

.AppMenus {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20px;
    padding: 15px;
    background: var(--black);
    width: 18%;
}

.accdiv.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background: transparent;
    box-shadow: unset;
    color: var(--white);
    background: var(--black1);
}

.accdiv .css-i4bv87-MuiSvgIcon-root,
.accdiv .linkTags {
    color: var(--white);
}

.accdiv .Mui-expanded,
.accdiv:hover {
    background: var(--black);
    border-radius: var(--raunded);
}

.avtarflex {
    background: var(--black1);
    padding: 10px 15px;
    border-radius: var(--rounded1);
    color: var(--white);
}

.closediv {
    display: none;

}

.closediv svg {
    font-size: 45px;
    color: var(--white);
}

.closeICon {
    color: var(--white);
    display: none;
}

@media screen and (max-width:576px) {
    .closediv {
        display: block;
    }

    .AppAsideBar {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        position: fixed;
        left: -100%;
        transition: var(--transition);
    }

    .AppAsideBar.active {
        left: 0;
    }

    .AppMenus {
        position: unset;
        width: 100%;
    }
}